/* https://code.visualstudio.com/api/references/theme-color */
/*
VScode theme variables
https://gist.github.com/estruyf/ba49203e1a7d6868e9320a4ea480c27a */
body {
  margin: 0;
  padding: 0;
  font-family: var(--vscode-editor-font-family) !important;
  background-color: transparent;
  color: var(--vscode-input-foreground);
  font-size: 10px;
  height: 100vh;
}
